.display-wrapper {
   /* border: 1px solid red; */
   display: flex;
   flex-wrap: wrap;
   width: 900px;
   margin-top: 100px;
}

.select-fighter {
    font-style: italic;
    color: white;
    font-size: 3rem;
}

.fight {
    font-style: italic;
    color: rgb(201, 26, 26);
    font-size: 9rem;
}

.pics-active {
    width: 150px; 
    height: 150px; 
    object-fit: contain;
    padding: 10px;
    border: 5px solid green;
}

.pics-passive {
    width: 150px; 
    height: 150px; 
    object-fit: contain;
    padding: 10px;
    border: 1px solid rgb(168, 168, 168);
}


.cubes {
    display: flex;
    margin-top: 50px;
}

.div-img {
    /* margin: 1px; */
}

.div-big-images {
    /* border: 1px solid red; */
    display: flex;
}

.div-big-images > img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.display2-wrapper {
    margin-top: 80px;
}








